<table>
    <tr>
        <td valign="middle" class="ticket-actual">
            <span id="lblTicket1" class="ticket-actual-numero">Ticket {{currentticketEscritorio.ticket}}</span>
            <br>
            <span id="lblEscritorio1" class="ticket-actual-escritorio">Escritorio {{currentticketEscritorio.escritorio}}</span>
        </td>
        <td>
            <table>
                <tr *ngFor="let ticketEscritorio of ticketsEscritorios">
                    <td>
                        <span id="lblTicket2" class="ticket-secundario">Ticket {{ticketEscritorio.ticket}}</span>
                        <br>
                        <span id="lblEscritorio2">Escritorio {{ticketEscritorio.escritorio}}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>